body {
    background-color: rgb(10,11,12);
    color: white;
    margin: 10px;
    font-family: "Rubik", sans-serif;
    font-size:large;
}
div.group {
    background-color: rgb(25, 26, 27);
    /* background: linear-gradient(0deg, rgba(20,21,22,1) 0%, rgba(25,26,27) 100%); */
    background: linear-gradient(0deg, hsl(210 5% 7% / 1) 20%, hsl(210 4% 16% / 1) 80%);
    border:solid 1px rgb(146, 146, 146);
    border-radius: 20px;
    box-shadow: 0px 0px 5px black;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    width: 500px;
}
h1, h2, h3 {
    text-shadow: 0px 0px 5px black;
}
img, video {
    border-radius:10px;
    box-shadow: 0px 0px 5px black;
}
canvas {
    border-radius:10px;
    box-shadow: 0px 0px 5px black;
    display: inline-block !important;
}
a {
    color: rgb(255, 96, 255);
}
input[type="text"], input[type="number"] {
    border-radius: 5px;
    border: solid 1px rgb(30, 31, 32);
    padding: 5px;
    background-color: rgb(12, 13, 14);
    color: white;
    width: 75px;
    font-size: large;
    text-align: center;
}
button {
    border-radius: 5px;
    border: solid 1px rgb(255, 255, 255);
    padding: 5px;
    background-color: rgb(16, 17, 19);
    color: white;
    font-size: large;
    width: 100px;
    height: 50px;
}