body {
    background-color: rgb(10,11,12);
    color: white;
    margin: 10px;
    font-family: "Rubik", sans-serif;
    font-size:large;
}
div.group {
    background-color: rgb(25, 26, 27);
    background: linear-gradient(0deg, rgba(20,21,22,1) 0%, rgba(25,26,27) 100%);
    border:solid 1px rgb(30, 31, 32);
    border-radius: 20px;
    box-shadow: 0px 0px 5px black;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    width: 500px;
}
h1, h2, h3 {
    text-shadow: 0px 0px 5px black;
}
img, video {
    border-radius:10px;
    box-shadow: 0px 0px 5px black;
}
canvas {
    border-radius:10px;
    box-shadow: 0px 0px 5px black;
    display: inline-block !important;
}
a {
    color: rgb(255, 96, 255);
}